.menu{
  display: flex;
  list-style: none;
  border-bottom: 2px dotted darkorchid;
}
.menu__item{
  padding: 10px 20px 10px 10px;
  border-right: 3px dashed darkgray;
  font-size: 1.3rem;
  color: #000;
  cursor: pointer;
}
.menu__item:nth-child(3){
  border: none;
}
.active {
  background-color: rgb(221, 234, 252);
}